In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import time
import dash
import pymongo
import multiprocessing

In [21]:
from dash import dcc
from dash import html
from dash.dependencies import Input, Output, State
from datetime import datetime, date
import pandas as pd
import numpy as np
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import pymongo
import dns
import json
import dash_bootstrap_components as dbc
import plotly
from plotly.offline import plot
import random

In [3]:
tickers = ['TSLA', 'AAPL', 'MSFT', 'AMZN', 'SPY']
stocks = yf.download(tickers, '2017-01-01', '2022-01-01')['Adj Close']
stocks

[*********************100%***********************]  5 of 5 completed

                  AAPL        AMZN        MSFT         SPY         TSLA
Date
2017-01-03   27.257641   37.683498   57.930531  204.625198    43.397999
2017-01-04   27.227137   37.859001   57.671333  205.842560    45.397999
2017-01-05   27.365593   39.022499   57.671333  205.679001    45.349998
2017-01-06   27.670673   39.799500   58.171211  206.414871    45.801998
2017-01-09   27.924122   39.846001   57.986065  205.733521    46.256001
...                ...         ...         ...         ...          ...
2021-12-27  179.836319  169.669495  340.949280  473.735535  1093.939941
2021-12-28  178.799164  170.660995  339.754517  473.348389  1088.469971
2021-12-29  178.888916  169.201004  340.451477  473.953918  1086.189941
2021-12-30  177.712143  168.644501  337.833008  472.643646  1070.339966
2021-12-31  177.083878  166.716995  334.846161  471.452515  1056.780029

[1259 rows x 5 columns]

In [4]:
stocks.to_csv('historical_data.csv')

In [5]:
df1 = pd.read_csv('historical_data.csv', index_col=0)
df1

                  AAPL        AMZN        MSFT         SPY         TSLA
Date
2017-01-03   27.257641   37.683498   57.930531  204.625198    43.397999
2017-01-04   27.227137   37.859001   57.671333  205.842560    45.397999
2017-01-05   27.365593   39.022499   57.671333  205.679001    45.349998
2017-01-06   27.670673   39.799500   58.171211  206.414871    45.801998
2017-01-09   27.924122   39.846001   57.986065  205.733521    46.256001
...                ...         ...         ...         ...          ...
2021-12-27  179.836319  169.669495  340.949280  473.735535  1093.939941
2021-12-28  178.799164  170.660995  339.754517  473.348389  1088.469971
2021-12-29  178.888916  169.201004  340.451477  473.953918  1086.189941
2021-12-30  177.712143  168.644501  337.833008  472.643646  1070.339966
2021-12-31  177.083878  166.716995  334.846161  471.452515  1056.780029

[1259 rows x 5 columns]

In [52]:
last_day_price = yf.download(tickers, '2022-01-02', date.today())['Adj Close']
last_day_price

[*********************100%***********************]  5 of 5 completed

                  AAPL        AMZN        MSFT         SPY         TSLA
Date
2022-01-03  181.511703  170.404495  333.283020  474.182190  1199.780029
2022-01-04  179.208038  167.522003  327.568176  474.023376  1149.589966
2022-01-05  174.441116  164.356995  314.993530  464.921112  1088.119995
2022-01-06  171.529129  163.253998  312.504486  464.484344  1064.699951
2022-01-07  171.698654  162.554001  312.663788  462.648010  1026.959961
...                ...         ...         ...         ...          ...
2022-07-05  141.559998  113.500000  262.850006  381.959991   699.200012
2022-07-06  142.919998  114.330002  266.209991  383.250000   695.200012
2022-07-07  146.350006  116.330002  268.399994  388.989990   733.630005
2022-07-08  147.039993  115.540001  267.660004  388.670013   752.289978
2022-07-11  144.869995  111.750000  264.510010  384.230011   703.030029

[130 rows x 5 columns]

In [53]:
newdf = pd.concat([stocks, last_day_price])
newdf

                  AAPL        AMZN        MSFT         SPY        TSLA
Date
2017-01-03   27.257641   37.683498   57.930531  204.625198   43.397999
2017-01-04   27.227137   37.859001   57.671333  205.842560   45.397999
2017-01-05   27.365593   39.022499   57.671333  205.679001   45.349998
2017-01-06   27.670673   39.799500   58.171211  206.414871   45.801998
2017-01-09   27.924122   39.846001   57.986065  205.733521   46.256001
...                ...         ...         ...         ...         ...
2022-07-05  141.559998  113.500000  262.850006  381.959991  699.200012
2022-07-06  142.919998  114.330002  266.209991  383.250000  695.200012
2022-07-07  146.350006  116.330002  268.399994  388.989990  733.630005
2022-07-08  147.039993  115.540001  267.660004  388.670013  752.289978
2022-07-11  144.869995  111.750000  264.510010  384.230011  703.030029

[1389 rows x 5 columns]

In [54]:
newdf.to_csv('historical_data.csv')

In [55]:
#Connect MongoDB using pymongo
client = pymongo.MongoClient("mongodb+srv://voxviga:Vigahwj960303@cluster0.qie7n.mongodb.net/?retryWrites=true&w=majority")

In [56]:
db = client['GlobalAI']
db

Database(MongoClient(host=['cluster0-shard-00-02.qie7n.mongodb.net:27017', 'cluster0-shard-00-00.qie7n.mongodb.net:27017', 'cluster0-shard-00-01.qie7n.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-1108iz-shard-0', tls=True), 'GlobalAI')

In [57]:
col = db["5 year historical stock data"]
df2 = pd.read_csv('historical_data.csv')
df2_dict = df2.to_dict(orient='records')
col.insert_many(df2_dict)

In [58]:
def calc_stats(df):
    for i in df:
        df[i+'returns'] = df[i].pct_change()
        df[i+'stddev'] = df[i].std()
        df[i+'momentum'] = df[i]/df[i].shift(1)
        df[i+'differences'] = df[i].diff()
        df[i+'_30 days MA'] = df[i].rolling(window=30).mean()

In [59]:
# get the normal time
normaltimedf = newdf.copy()

st = time.time()
calc_stats(normaltimedf)
et = time.time()
elapsed_time = et - st
print('Execution time:', elapsed_time, 'seconds')

Execution time: 0.012022972106933594 seconds

In [60]:
normaltimedf

,AAPL,AMZN,MSFT,SPY,TSLA,AAPLreturns,AAPLstddev,AAPLmomentum,AAPLdifferences,AAPL_30 days MA,...,SPYreturns,SPYstddev,SPYmomentum,SPYdifferences,SPY_30 days MA,TSLAreturns,TSLAstddev,TSLAmomentum,TSLAdifferences,TSLA_30 days MA
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,27.257641,37.683498,57.930531,204.625198,43.397999,NaN,46.522735,NaN,NaN,NaN,...,NaN,77.203649,NaN,NaN,NaN,NaN,339.171424,NaN,NaN,NaN
2017-01-04,27.227137,37.859001,57.671333,205.842560,45.397999,-0.001119,46.522735,0.998881,-0.030504,NaN,...,0.005949,77.203649,1.005949,1.217361,NaN,0.046085,339.171424,1.046085,2.000000,NaN
2017-01-05,27.365593,39.022499,57.671333,205.679001,45.349998,0.005085,46.522735,1.005085,0.138456,NaN,...,-0.000795,77.203649,0.999205,-0.163559,NaN,-0.001057,339.171424,0.998943,-0.048000,NaN
2017-01-06,27.670673,39.799500,58.171211,206.414871,45.801998,0.011148,46.522735,1.011148,0.305080,NaN,...,0.003578,77.203649,1.003578,0.735870,NaN,0.009967,339.171424,1.009967,0.452000,NaN
2017-01-09,27.924122,39.846001,57.986065,205.733521,46.256001,0.009159,46.522735,1.009159,0.253448,NaN,...,-0.003301,77.203649,0.996699,-0.681351,NaN,0.009912,339.171424,1.009912,0.454002,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-05,141.559998,113.500000,262.850006,381.959991,699.200012,0.018930,46.522735,1.018930,2.630005,140.670001,...,0.001889,77.203649,1.001889,0.720001,390.481842,0.025536,339.171424,1.025536,17.410034,699.199998
2022-07-06,142.919998,114.330002,266.209991,383.250000,695.200012,0.009607,46.522735,1.009607,1.360001,140.847667,...,0.003377,77.203649,1.003377,1.290009,390.325037,-0.005721,339.171424,0.994279,-4.000000,700.243331
2022-07-07,146.350006,116.330002,268.399994,388.989990,733.630005,0.023999,46.522735,1.023999,3.430008,140.955668,...,0.014977,77.203649,1.014977,5.739990,390.117610,0.055279,339.171424,1.055279,38.429993,702.200997
2022-07-08,147.039993,115.540001,267.660004,388.670013,752.289978,0.004715,46.522735,1.004715,0.689987,141.178334,...,-0.000823,77.203649,0.999177,-0.319977,390.000082,0.025435,339.171424,1.025435,18.659973,706.338664
2022-07-11,144.869995,111.750000,264.510010,384.230011,703.030029,-0.014758,46.522735,0.985242,-2.169998,141.323334,...,-0.011424,77.203649,0.988576,-4.440002,389.619054,-0.065480,339.171424,0.934520,-49.259949,707.812998

In [61]:
# get the multiprocess time
multitimedf = newdf.copy()
result = []
process = multiprocessing.Process(target = calc_stats, args=(multitimedf,))
result.append(process)
st = time.time()
process.start()
et = time.time()
elapsed_time = et - st
print('Execution time:', elapsed_time, 'seconds')

Execution time: 0.0708160400390625 seconds

In [62]:
app = dash.Dash()

In [63]:
app.layout=html.Div([
    dcc.Input(id='my-id',value='Dash App',type='text'),
    html.Div(id='my-div')
])

In [64]:
server=app.server

In [65]:
colors = {     
     'background': '#111111',     
     'text': '#7FDBFF' }

In [88]:
app.layout = html.Div([
    html.Br(),
    html.Br(),
    #header and logo
    html.H1('Stock Statistics Dashboard',
            style={'margin-top': 10, 'margin-left': 15, 'color': colors['background']}
    ),
        html.Img(
           src='https://images.squarespace-cdn.com/content/5c036cd54eddec1d4ff1c1eb/1557908564936-YSBRPFCGYV2CE43OHI7F/GlobalAI_logo.jpg?content-type=image%2Fpng',
           style={
               'height':'11%',
               'width':'11%',
               'float':'righttop',
               'position':'relative',
               'margin-top':11,
               'margin-right':10,
           },
           className='two columns'),

    html.Div(style={'backgroundColor': colors['text']}, children=[
        
    html.H4(
        children='Stock Close Price',
        style={
            'textAlign': 'center',
            'color': colors['background']
        }
    ),
    
    dcc.Graph(
        id='graph-1',
        figure={
            'data': [
                {'x': normaltimedf.index, 'y': normaltimedf['AAPL'], 'type': 'line', 'name': 'AAPL'},
                {'x': normaltimedf.index, 'y': normaltimedf['TSLA'], 'type': 'line', 'name': 'TSLA'},
                {'x': normaltimedf.index, 'y': normaltimedf['MSFT'], 'type': 'line', 'name': 'MSFT'},
                {'x': normaltimedf.index, 'y': normaltimedf['AMZN'], 'type': 'line', 'name': 'MSCI'},
                {'x': normaltimedf.index, 'y': normaltimedf['SPY'], 'type': 'line', 'name': 'SPY'},
            ],
            'layout': {
                'plot_bgcolor': colors['text'],
                'paper_bgcolor': colors['text'],
                'font': {
                    'color': colors['background']
                }
            }
        }
    ),
    
    html.H4(
        children='Stock Returns',
        style={
            'textAlign': 'center',
            'color': colors['background']
        }
    ),
    
    dcc.Graph(
        id='graph-2',
        figure={
            'data': [
                {'x': normaltimedf.index, 'y': normaltimedf['AAPLreturns'], 'type': 'line', 'name': 'AAPL'},
                {'x': normaltimedf.index, 'y': normaltimedf['TSLAreturns'], 'type': 'line', 'name': 'TSLA'},
                {'x': normaltimedf.index, 'y': normaltimedf['MSFTreturns'], 'type': 'line', 'name': 'MSFT'},
                {'x': normaltimedf.index, 'y': normaltimedf['AMZNreturns'], 'type': 'line', 'name': 'MSCI'},
                {'x': normaltimedf.index, 'y': normaltimedf['SPYreturns'], 'type': 'line', 'name': 'SPY'},
            ],
            'layout': {
                'plot_bgcolor': colors['text'],
                'paper_bgcolor': colors['text'],
                'font': {
                    'color': colors['background']
                }
            }
        }
    ),
    
        
    html.H4(
        children='Stock Stddev',
        style={
            'textAlign': 'center',
            'color': colors['background']
        }
    ),
    
    dcc.Graph(
        id='graph-3',
        figure={
            'data': [
                {'x': ['TSLA', 'AAPL', 'MSFT', 'AMZN', 'SPY'], 
                 'y': [normaltimedf['AAPLstddev'][0], normaltimedf['TSLAstddev'][0], normaltimedf['MSFTstddev'][0], 
                       normaltimedf['AMZNstddev'][0], normaltimedf['SPYstddev'][0]],'type': 'bar', 'name': 'AAPL'}
            ],
            'layout': {
                'plot_bgcolor': colors['text'],
                'paper_bgcolor': colors['text'],
                'font': {
                    'color': colors['background']
                }
            }
        }
    ),
        
    html.H4(
        children='Stock Momentum',
        style={
            'textAlign': 'center',
            'color': colors['background']
        }
    ),
    
    dcc.Graph(
        id='graph-4',
        figure={
            'data': [
                {'x': normaltimedf.index, 'y': normaltimedf['AAPLmomentum'], 'type': 'line', 'name': 'AAPL'},
                {'x': normaltimedf.index, 'y': normaltimedf['TSLAmomentum'], 'type': 'line', 'name': 'TSLA'},
                {'x': normaltimedf.index, 'y': normaltimedf['MSFTmomentum'], 'type': 'line', 'name': 'MSFT'},
                {'x': normaltimedf.index, 'y': normaltimedf['AMZNmomentum'], 'type': 'line', 'name': 'MSCI'},
                {'x': normaltimedf.index, 'y': normaltimedf['SPYmomentum'], 'type': 'line', 'name': 'SPY'},
            ],
            'layout': {
                'plot_bgcolor': colors['text'],
                'paper_bgcolor': colors['text'],
                'font': {
                    'color': colors['background']
                }
            }
        }
    ),

    
    html.H4(
        children='Stock 30 days MA',
        style={
            'textAlign': 'center',
            'color': colors['background']
        }
    ),
    
    dcc.Graph(
        id='graph-5',
        figure={
            'data': [
                {'x': normaltimedf.index, 'y': normaltimedf['AAPL_30 days MA'], 'type': 'line', 'name': 'AAPL'},
                {'x': normaltimedf.index, 'y': normaltimedf['TSLA_30 days MA'], 'type': 'line', 'name': 'TSLA'},
                {'x': normaltimedf.index, 'y': normaltimedf['MSFT_30 days MA'], 'type': 'line', 'name': 'MSFT'},
                {'x': normaltimedf.index, 'y': normaltimedf['AMZN_30 days MA'], 'type': 'line', 'name': 'MSCI'},
                {'x': normaltimedf.index, 'y': normaltimedf['SPY_30 days MA'], 'type': 'line', 'name': 'SPY'},
            ],
            'layout': {
                'plot_bgcolor': colors['text'],
                'paper_bgcolor': colors['text'],
                'font': {
                    'color': colors['background']
                }
            }
        }
    )
    
    ])
    ])
    
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [12/Jul/2022 01:18:06] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Jul/2022 01:18:07] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [12/Jul/2022 01:18:07] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [12/Jul/2022 01:18:07] "GET /_favicon.ico?v=2.5.1 HTTP/1.1" 200 -
127.0.0.1 - - [12/Jul/2022 01:18:07] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [12/Jul/2022 01:18:07] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -